<div class="row band-1">
  <div class="col-md-8">
    <h1>Atima</h1>
    <p>Discover the unique, authentic creations of talented female artisans from around the world.
    Every box is carefully curated with items that showcase the beautiful craft and cultural design of talented female artisans from a new marketplace in the world.</p>
  </div>
</div>
<div class="row band-2">
  <div class="col-md-4">
    <h1>Meet an Artisan</h1>
    <p>Meet the talented female artisans and artisan collectives fueling economical development in their communities.</p>
  </div>
</div>
<div class="row band-3">
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h1>Marketplace</h1>
    <p>Every item meets the highest aesthetic and ethical standards while fostering a climate for economic mobility and financial autonomy.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h1>Join Us</h1>
    <p>Join our network of Women helping Women get out of poverty and take a seat at the table.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h1>Atima Box</h1>
    Quarterly
    $45
    Monthly mini
    $30
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <img class="cofounder-image" src="https://media.licdn.com/media/p/7/005/0b5/19a/3f4250f.jpg">
    <h3>Maggie Norris</h3>
    <p>Co-Founder</p>
    <a href="mailto:maggie@atimabox.com">maggie@atimabox.com</a>
  </div>
  <div class="col-md-3">
    <img class="cofounder-image" src="https://media.licdn.com/media/p/1/005/00d/2eb/27e5ac6.jpg">
    <h3>Mai Hong</h3>
    <p>Co-Founder</p>
    <a href="mailto:mai@atimabox.com">mai@atimabox.com</a>
  </div>
  <div class="col-md-3">
    <img class="cofounder-image" src="https://media.licdn.com/media/p/5/005/066/0e5/25380ff.jpg">
    <h3>Shannon Hall</h3>
    <p>Co-Founder</p>
    <a href="mailto:shannon@atimabox.com">shannon@atimabox.com</a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    Product/Merchandising Fellowship
    Fall 2015
    Open to Travelers, Students, and Independent Contractors in Africa
    3mo Minimum Commitment

    Fellowship@atimabox.com

    info@atimabox.com
  </div>
</div>
